.contacts__header{
    display: flex;
    justify-content: center;
    position: static;
    font-weight: bold;
    font-size: 60px;
    margin: 2%;
  }
  .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
  }
.contacts__information_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 450px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #c3c3c3c5;
    border-radius: 30px;
}

.contacts__information_block h1{
    position: static;
    font-weight: bold;
    font-size: 55px;
    margin: 2%;
    margin-right: 4%;
}

.contacts__number{
    display: flex;
    font-size: 22px;
    margin: 3%;
    font-weight: bold;
}

.contacts__day{
    display: flex;
    justify-content: center;
    position: static;
    text-indent: 15%;
    font-size: 22px;
    margin: 3%;
}

.contacts__reception{
  display: flex;
  justify-content: center;
  position: static;
  padding: 1%;
  font-size: 24px;
  margin: 3%;

}